GROQ_API_KEY_1=
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GEMINI_4_AWS_KEY_1=
GEMINI_4_AWS_KEY_2=
GEMINI_4_AWS_KEY_3=
SEMANTIC_SCHOLAR_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
DEMO_MODE=false
MOCK_MODE=false

CORE_API_KEY=
API_EMAIL=